{% extends "registration/base.html" %}
{% load i18n static widget_tweaks %}
{% block title %}
    {% trans "忘记密码" %}
{% endblock %}
{% block content %}
    <div class="text-center mb-4">
        <p class="mb-0">
            {% blocktrans trimmed %}
                在下方表单中输入你的邮箱地址。如果该邮箱有效，你将收到密码重置说明。
            {% endblocktrans %}
        </p>
    </div>
    <form method="post">
        {% csrf_token %}
        <label class="visually-hidden" for="email-input-group">{{ form.email.label }}</label>
        <div class="input-group mb-3 fade-in">
            <span class="input-group-text text-body-secondary"><i class="icon-mail" aria-hidden="true"></i></span>
            {% render_field form.email name='email' class+='form-control' id='email-input-group' placeholder=form.email.label %}
        </div>
        <button class="btn btn-primary w-100 fade-in" type="submit" name="reset">{% trans "重置密码" %}</button>
    </form>
{% endblock %}
