{% extends "registration/base.html" %}
{% load i18n static widget_tweaks %}
{% block title %}
    {% trans "密码重置" %}
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p class="mb-0">
                    <strong>{% trans "糟糕！" %}</strong> {% trans "两次密码输入不一致。" %} {% trans "请重试。" %}
                </p>
            </div>
        {% endif %}
        <div class="text-center mb-4">
            <p class="mb-0">{% trans "请在下方每个字段中输入你的新密码。" %}</p>
        </div>
        <label class="visually-hidden" for="password1-input-group">{{ form.new_password1.label }}</label>
        <div class="input-group mb-3 fade-in">
            <span class="input-group-text text-body-secondary"><i class="icon-lock" aria-hidden="true"></i></span>
            {% render_field form.new_password1 name='new_password1' class+='form-control' id='password1-input-group' %}
        </div>
        <label class="visually-hidden" for="password2-input-group">{{ form.new_password2.label }}</label>
        <div class="input-group mb-3 fade-in">
            <span class="input-group-text text-body-secondary"><i class="icon-lock" aria-hidden="true"></i></span>
            {% render_field form.new_password2 name='new_password2' class+='form-control' id='password2-input-group' %}
        </div>
        <button class="btn btn-primary w-100 fade-in" type="submit" name="reset">{% trans "重置密码" %}</button>
    </form>
{% endblock %}
