{% extends "registration/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "邮件已发送" %}
{% endblock %}
{% block content %}
    <div class="text-center mb-0">
        <p>
            {% blocktrans trimmed %}
                我们已经发送了密码重置说明到你的邮箱。如果收到邮件，请点击其中的链接设置新密码。
            {% endblocktrans %}
        </p>
        <p class="mb-0">
            {% blocktrans trimmed %}
                如果你没有收到邮件，请确认你输入的是注册时使用的邮箱地址，并检查你的垃圾邮件文件夹。
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
