{% extends 'babybuddy/page.html' %}
{% load i18n %}
{% block title %}
    {% if object %}
        {{ object }}
    {% else %}
        {% trans "添加孩子" %}
    {% endif %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'core:child-list' %}">{% trans "孩子们" %}</a>
    </li>
    {% if object %}
        <li class="breadcrumb-item fw-bold">
            <a href="{% url 'core:child' object.slug %}">{{ object }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "更新" %}</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "添加孩子" %}</li>
    {% endif %}
{% endblock %}
{% block content %}
    {% if object %}
        <h1>
            {% trans "更新" %} <span class="text-info">{{ object }}</span>
        </h1>
    {% else %}
        <h1>{% trans "添加孩子" %}</h1>
    {% endif %}
    {% include 'babybuddy/form.html' %}
{% endblock %}
