{% extends 'babybuddy/page.html' %}
{% load datetime i18n %}
{% block title %}
    {% if request.resolver_match.url_name == 'diaperchange-update' %}
        {% trans "更新尿布更换记录" %}
    {% else %}
        {% trans "添加尿布更换记录" %}
    {% endif %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'core:diaperchange-list' %}">{% trans "尿布更换记录" %}</a>
    </li>
    {% if object %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "更新" %}</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "添加" %}</li>
    {% endif %}
{% endblock %}
{% block content %}
    {% if object %}
        <h1>
            {% trans "更新" %} <span class="text-info">{{ object }}</span>
        </h1>
    {% else %}
        <h1>{% trans "添加尿布更换记录" %}</h1>
    {% endif %}
    {% include 'babybuddy/form.html' %}
{% endblock %}
