{% extends 'babybuddy/page.html' %}
{% load bootstrap datetime misc i18n widget_tweaks %}
{% block title %}
    {% trans "尿布记录" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "尿布记录" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "尿布记录" %}
        {% if perms.core.add_diaperchange %}
            <a href="{% url 'core:diaperchange-add' %}"
               class="btn btn-sm btn-success">
                <i class="icon-diaperchange" aria-hidden="true"></i> {% trans "添加尿布更换" %}
            </a>
        {% endif %}
    </h1>
    {% include 'babybuddy/filter.html' %}
    <div class="table-responsive">
        <table class="table table-instances table-borderless table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th>{% trans "操作" %}</th>
                    <th>{% trans "时间" %}</th>
                    {% if not unique_child %}
                        <th>{% trans "孩子" %}</th>
                    {% endif %}
                    <th class="text-center">{% trans "内容" %}</th>
                    <th>{% trans "颜色" %}</th>
                    <th>{% trans "用量" %}</th>
                    <th>{% trans "上次" %}</th>
                    <th>{% trans "标签" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for change in object_list %}
                    {% with prev_change=object_list|next:forloop.counter0 %}
                        <tr>
                            <td>
                                <div class="btn-group btn-group-sm"
                                     role="group"
                                     aria-label="{% trans "操作" %}">
                                    {% if perms.core.change_diaperchange %}
                                        <a href="{% url 'core:diaperchange-update' change.id %}"
                                           class="btn btn-primary">
                                            <i class="icon-update" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                    {% if perms.core.delete_diaperchange %}
                                        <a href="{% url 'core:diaperchange-delete' change.id %}"
                                           class="btn btn-danger">
                                            <i class="icon-delete" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                            <th scope="row">{{ change.time|datetime_short }}</th>
                            {% if not unique_child %}
                                <td>
                                    <a href="{% url 'core:child' change.child.slug %}">{{ change.child }}</a>
                                </td>
                            {% endif %}
                            <td class="text-center">
                                {% if change.wet %}
                                    <span title="{% trans "湿" %}">💦</span>
                                {% endif %}
                                {% if change.solid %}
                                    <span title="{% trans "固态" %}">💩</span>
                                {% endif %}
                            </td>
                            <td>{{ change.get_color_display }}</td>
                            <td>{{ change.amount|default_if_none:"" }}</td>
                            <td>
                                {% if prev_change %}
                                    {% blocktrans trimmed with time_ago=prev_change.time|timesince:change.time %}
                                        {{ time_ago }} ago
                                    {% endblocktrans %}
                                {% endif %}
                            </td>
                            <td>{% include "core/render_tag_list.html" with tags=change.tags.all %}</td>
                        </tr>
                        {% if change.notes %}
                            <tr class="{{ row_class }} row-details">
                                <td colspan="8">
                                    <i class="icon-note me-2" aria-hidden="true"></i>{{ change.notes }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endwith %}
                {% empty %}
                    <tr>
                        <th colspan="8">{% trans "未找到尿布更换记录。" %}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'babybuddy/paginator.html' %}
{% endblock %}
