{% extends 'babybuddy/page.html' %}
{% load i18n %}
{% block title %}
    {% if object %}
        {{ object }}
    {% else %}
        {% trans "添加身高记录" %}
    {% endif %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'core:height-list' %}">{% trans "身高" %}</a>
    </li>
    {% if object %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "编辑" %}</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "添加身高记录" %}</li>
    {% endif %}
{% endblock %}
{% block content %}
    {% if object %}
        <h1>
            {% trans "编辑" %} <span class="text-info">{{ object }}</span>
        </h1>
    {% else %}
        <h1>{% trans "添加身高记录" %}</h1>
    {% endif %}
    {% include 'babybuddy/form.html' %}
{% endblock %}
