{% extends 'babybuddy/page.html' %}
{% load datetime i18n imagekit widget_tweaks %}
{% block title %}
    {% trans "备注" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "备注" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "备注" %}
        {% if perms.core.add_note %}
            <a href="{% url 'core:note-add' %}" class="btn btn-sm btn-success">
                <i class="icon-note" aria-hidden="true"></i> {% trans "添加备注" %}
            </a>
        {% endif %}
    </h1>
    {% include 'babybuddy/filter.html' %}
    <div class="table-responsive">
        <table class="table table-instances table-borderless table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th>{% trans "操作" %}</th>
                    <th>{% trans "时间" %}</th>
                    {% if not unique_child %}
                        <th>{% trans "孩子" %}</th>
                    {% endif %}
                    <th>{% trans "图片" %}</th>
                    <th>{% trans "备注" %}</th>
                    <th>{% trans "标签" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for note in object_list %}
                    <tr>
                        <td>
                            <div class="btn-group btn-group-sm"
                                 role="group"
                                 aria-label="{% trans "操作" %}">
                                {% if perms.core.change_note %}
                                    <a href="{% url 'core:note-update' note.id %}" class="btn btn-primary">
                                        <i class="icon-update" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                                {% if perms.core.delete_note %}
                                    <a href="{% url 'core:note-delete' note.id %}" class="btn btn-danger">
                                        <i class="icon-delete" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                        <th scope="row">{{ note.time|datetime_short }}</th>
                        {% if not unique_child %}
                            <td>
                                <a href="{% url 'core:child' note.child.slug %}">{{ note.child }}</a>
                            </td>
                        {% endif %}
                        <td>
                            {% if note.image %}
                                {% thumbnail '40x40' note.image as thumb %}
                                    <a href="{{ note.image.url }}" target="_blank">
                                        <img src="{{ thumb.url }}" class="img-fluid" />
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ note.note }}</td>
                            <td>{% include "core/render_tag_list.html" with tags=note.tags.all %}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <th colspan="5">{% trans "未找到备注。" %}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'babybuddy/paginator.html' %}
    {% endblock %}
