{% extends 'babybuddy/page.html' %}
{% load babybuddy i18n widget_tweaks %}
{% block title %}
    {% trans "删除标签" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'core:tag-list' %}">{% trans "标签" %}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'core:tag-detail' tag.slug %}">{{ object }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "删除" %}</li>
{% endblock %}
{% block content %}
    <form role="form" method="post">
        {% csrf_token %}
        <h1>{% confirm_delete_text object %}</h1>
        {% if object.core_tagged_items__count > 0 %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">
                    {% blocktrans trimmed with count=object.core_tagged_items__count count counter=object.core_tagged_items__count %}
                        有 1 个项目使用此标签。
                    {% plural %}
                        有 {{ count }} 个项目使用此标签。
                    {% endblocktrans %}
                </h4>
                <p class="mb-0">
                    {% blocktrans trimmed %}
                        此操作将从所有当前应用该标签的项目中移除该标签。
                    {% endblocktrans %}
                </p>
            </div>
        {% endif %}
        <input type="submit" value="{% trans "删除标签" %}" class="btn btn-danger" />
        <a href="{% url 'core:tag-list' %}" class="btn btn-default">{% trans "取消" %}</a>
    </form>
{% endblock %}
