{% extends 'babybuddy/page.html' %}
{% load datetime duration i18n %}
{% block title %}
    {% trans "计时器" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'core:timer-list' %}">{% trans "计时器" %}</a>
    </li>
    {% if object %}
        <li class="breadcrumb-item fw-bold">
            <a href="{% url 'core:timer-detail' object.id %}">{{ object }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "编辑" %}</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "开始" %}</li>
    {% endif %}
{% endblock %}
{% block content %}
    {% if object %}
        <h1>
            {% trans Update %} <span class="text-info">{{ object }}</span>
        </h1>
    {% else %}
        <h1>{% trans "开始计时器" %}</h1>
    {% endif %}
    {% include 'babybuddy/form.html' %}
{% endblock %}
