{% extends 'cards/base.html' %}
{% load duration i18n %}
{% block header %}
    <a href="{% url "core:sleep-list" %}">{% trans "今日小睡" %}</a>
{% endblock %}
{% block title %}
    {% if count %}
        {% blocktrans trimmed count counter=count %}
            {{ counter }} 次小睡
        {% plural %}
            {{ counter }} 次小睡
        {% endblocktrans %}
    {% else %}
        {% trans "无" %}
    {% endif %}
{% endblock %}
{% block content %}
    {% if total %}{{ total|duration_string }}{% endif %}
{% endblock %}
